<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>FormApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>Form.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>com.register.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/registerUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowSessions</servlet-name>
    <servlet-class>com.register.ShowSessions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSessions</servlet-name>
    <url-pattern>/showSessions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>404Error</servlet-name>
    <servlet-class>com.register.PageNotFound</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>404Error</servlet-name>
    <url-pattern>/404</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AnotherPage</servlet-name>
    <servlet-class>com.register.UnavailablePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnotherPage</servlet-name>
    <url-pattern>/unavailable</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserError</servlet-name>
    <servlet-class>com.register.UserDefinedException</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserError</servlet-name>
    <url-pattern>/userError</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserErrorHandler</servlet-name>
    <servlet-class>com.register.HandlingUserException</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserErrorHandler</servlet-name>
    <url-pattern>/userErrorHandler</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>NullFilter</display-name>
    <filter-name>NullFilter</filter-name>
    <filter-class>com.register.NullFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>NullFilter</filter-name>
    <url-pattern>/registerUser</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>PasswordFilter</display-name>
    <filter-name>PasswordFilter</filter-name>
    <filter-class>com.register.PasswordFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PasswordFilter</filter-name>
    <url-pattern>/registerUser</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.register.SampleListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.register.ContextListenerSample</listener-class>
  </listener>
  <error-page>
    <exception-type>com.register.MyException</exception-type>
    <location>/userErrorHandler</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.ClassNotFoundException</exception-type>
    <location>/</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/404</location>
  </error-page>
</web-app>